Repository bcgov/nr-old-growth, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, dependencies, documentation, openshift

fix: upgrade rimraf from 5.0.6 to 5.0.7
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix: upgrade @typescript-eslint/parser from 7.9.0 to 7.10.0 (#260)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Fixed package-lock.json
  package-lock.json
Labels: none

Fixed package-lock.json
  backend/package-lock.json
  package-lock.json
Labels: none

Fixed package json
  backend/package-lock.json
Labels: none

Fixed package json (#265)
  backend/package-lock.json
Labels: none

fix(Snyk): Upgrade rimraf from 5.0.6 to 5.0.7 (#264)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix: upgrade ts-jest from 29.1.2 to 29.1.3 (#263)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
Labels: none

fix(Snyk): Upgrade axios from 1.6.8 to 1.7.2 (#262)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
Labels: none

fix(Snyk): Upgrade @typescript-eslint/eslint-plugin from 7.9.0 to 7.10.0 (#261)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): Fixed security issue related to an uncontrolled resource consumption in braces
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): Fixed security issue related to an uncontrolled resource consumption in braces (#266)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix: Fixed "ENV key=value" should be used instead of legacy "ENV key value" format
  backend/Dockerfile
Labels: docker

chore(deps): update dependency typescript to ~5.6.0
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore: Updated other dependencies
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Update package.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
Labels: none

chore(deps): update dependencies (#276)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Any change to trigger dc deploy
  backend/package.json
Labels: dependencies

Any change to trigger dc deploy (#279)
  backend/package.json
Labels: dependencies

Revert "Any change to trigger dc deploy (#279)"
  backend/package.json
Labels: dependencies

Any change to trigger dc deploy
  backend/package.json
Labels: dependencies

DeploymentConfig deprecation
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

Fix image targets
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

Drop smelly old imagestreams
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

Fix images again, but correctly
  .github/openshift/deploy.database.yml
Labels: none

Expression envar for unrelated rollout bug
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

Clip extra REGISTRY param
  .github/openshift/deploy.database.yml
Labels: none

Fix apiVersion for backend deployment
  .github/openshift/deploy.backend.yml
Labels: none

ApiVersion
  .github/openshift/deploy.backend.yml
Labels: none

chore(ci): remove imageStreams
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

chore: reverting ubuntu changes
  .github/workflows/api-check.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
Labels: none

chore: updating deployments
  .github/workflows/api-check.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/scheduled.yml
  .github/workflows/unit-tests.yml
Labels: none

chore(deps): updating ci dependencies
  .github/workflows/api-check.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/scheduled.yml
  .github/workflows/unit-tests.yml
Labels: none

chore(ci): handle gh runner oc removal
  .github/workflows/.deploy.yml
  .github/workflows/pr-close.yml
Labels: none

chore(deps): updating ci dependencies (#285)
  .github/workflows/api-check.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/scheduled.yml
  .github/workflows/unit-tests.yml
Labels: none

chore(ci): deploymentconfig deprecation
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

Fix db image
  .github/openshift/deploy.database.yml
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/test/**/*

source:
  - backend/src/**/*

docker:
  - backend/Dockerfile

dependencies:
  - backend/package.json

documentation:
  - backend/docs/**/*
  - docs/**/*


openshift:
  - .github/openshift/.*.yml
