Repository bcgov/nr-old-growth, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, dependencies, documentation, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/test/**/*

source:
  - backend/src/**/*

docker:
  - backend/Dockerfile

dependencies:
  - backend/package.json

documentation:
  - backend/docs/**/*
  - docs/**/*


openshift:
  - .github/openshift/.*.yml

chore: updating codeowners
  .github/CODEOWNERS
Labels: github_actions

chore: updating codeowners (#149)
  .github/CODEOWNERS
Labels: github_actions

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to a714311 (#148)
  .github/CODEOWNERS
  backend/Dockerfile
Labels: github_actions, docker

chore(deps): update dependency typescript to v5
  backend/package.json
Labels: dependencies

fix(deps): update dependency axios-oauth-client to v2
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): update dependency rimraf to v5
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): update nest monorepo to v10
  backend/package.json
Labels: dependencies

fix(deps): update dependency rimraf to v5 (#152)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): update node.js to v20
  docker-compose.yml
Labels: none

fix(deps): update nestjs
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): update node.js to v20 (#155)
  docker-compose.yml
Labels: none

fix(deps): update nestjs (#154)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): update dependency axios-oauth-client to v2 (#151)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Update package.json
  backend/package.json
Labels: dependencies

Update package.json
  backend/package.json
Labels: dependencies

chore(deps): update dependency typescript to v5 (#150)
  backend/package.json
Labels: dependencies

Update package.json
  backend/package.json
Labels: dependencies

feat(app-monitoring): - Added Paulo as new developer
  appmonitorig/sysdig.yaml
Labels: none

Update package.json
  backend/package.json
Labels: dependencies

App Monitoring (#156)
  appmonitorig/sysdig.yaml
Labels: none

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to 8fea239
  backend/Dockerfile
Labels: docker

chore(deps): update node.js to b3ca7d3
  docker-compose.yml
Labels: none

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to 8fea239 (#157)
  backend/Dockerfile
Labels: docker

chore(deps): update node.js to b3ca7d3 (#158)
  docker-compose.yml
Labels: none

fix(be): - Suggested fix to support upgrade
  backend/package-lock.json
  backend/src/ches/services/ches.service.ts
  backend/src/form/services/form.service.ts
Labels: source

fix(be): (#160)
  backend/package-lock.json
  backend/src/ches/services/ches.service.ts
  backend/src/form/services/form.service.ts
Labels: source

fix(be): - Downgrade version as it is causing issues
  backend/package.json
Labels: dependencies

fix: - Updated packahe-lock
  backend/package-lock.json
Labels: none

Fix: Upgrade fixes (#161)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): - Fix due to changes in the axios-oauth-client library's version 2.0.0
  backend/package-lock.json
  backend/package.json
  backend/src/ches/services/ches.service.ts
  backend/src/form/services/form.service.ts
Labels: source, dependencies

fix(be): - Fix due to changes in the axios-oauth-client library's version 2.0.0
  backend/src/ches/services/ches.service.ts
Labels: source

fix(be): - Fix due to changes in the axios-oauth-client library's version 2.0.0
  backend/package-lock.json
  backend/package.json
  backend/src/form/services/form.service.ts
Labels: source, dependencies

fix(be): - Trying different library
  backend/package-lock.json
  backend/package.json
  backend/src/ches/services/ches.service.ts
Labels: source, dependencies

fix(be): - Another trial
  backend/src/ches/services/ches.service.ts
Labels: source

fix(be): - Another trial
  backend/src/ches/services/ches.service.ts
Labels: source

fix: fixing oauth issues
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/ches/services/ches.service.ts
Labels: source, dependencies

fix: fixing catch line
  backend/src/ches/services/ches.service.ts
Labels: source

Fix: upgrade fixes (#162)
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/ches/services/ches.service.ts
  backend/src/form/services/form.service.ts
Labels: source, dependencies

fix(deps): update dependency swagger-ui-express to v5
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): update linters
  backend/package-lock.json
  backend/package.json
Labels: dependencies
