Repository bcgov/nr-old-growth, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, dependencies, documentation, openshift

Fix db image
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

Random envar to ensure consistent rollouts
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

chore(ci): deploymentconfig deprecation (#291)
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

fix(ci): promote images to prod
  .github/openshift/deploy.backend.yml
  .github/workflows/merge-main.yml
Labels: none

Removed one more PROMOTE var
  .github/workflows/pr-open.yml
Labels: none

fix(ci): promote images to prod (#292)
  .github/openshift/deploy.backend.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

chore(be): upgraded multiple libraries
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded multiple libraries (#295)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): Upgraded critical libraries
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): Upgraded critical libraries (#299)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message (#301)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): Upgraded critical libs
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): Upgraded critical libs (#303)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded all critical libraries
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded all critical libraries (#305)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded critical libs
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded @nestjs/cli to 10.4.8
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): Ipgrade @nestjs-common to 10.4.11
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgrade @nestjs-cli to 10.4.8
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded nestjs-core to 10.4.11
  backend/package-lock.json
  backend/package.json
Labels: dependencies

ci: revise codeowners
  .github/CODEOWNERS
Labels: github_actions

ci: revise codeowners (#314)
  .github/CODEOWNERS
Labels: github_actions

chore(deps): nestjs
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
Labels: none

chore(deps): nestjs (#316)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): typescript
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): typescript (#317)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): dev only
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): dev only (#318)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): axios, body-parser, typeorm
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): axios, body-parser, typeorm (#320)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): remove unused
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Restore rimraf
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Restore types/jest
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): remove unused (#319)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(/be): upagrade axios 1.7.9
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded dotenv 16.4.7
  backend/package-lock.json
  backend/package.json
Labels: dependencies

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/test/**/*

source:
  - backend/src/**/*

docker:
  - backend/Dockerfile

dependencies:
  - backend/package.json

documentation:
  - backend/docs/**/*
  - docs/**/*


openshift:
  - .github/openshift/.*.yml
