Repository bcgov/nr-old-growth, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, dependencies, documentation, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/test/**/*

source:
  - backend/src/**/*

docker:
  - backend/Dockerfile

dependencies:
  - backend/package.json

documentation:
  - backend/docs/**/*
  - docs/**/*


openshift:
  - .github/openshift/.*.yml

Update package.json
  backend/package.json
Labels: dependencies

chore(deps): add renovate.json
  renovate.json
Labels: none

chore(deps): add renovate.json
  renovate.json
Labels: none

feat(be): - Changed form version
  .github/openshift/deploy.backend.yml
Labels: none

chore(deps): pin dependencies
  backend/Dockerfile
  docker-compose.yml
Labels: docker

fix: fixing test workflow dir
  .github/workflows/merge-main.yml
Labels: none

fix: fixing deployment init
  .github/openshift/deploy.backend.yml
  .github/workflows/pr-open.yml
Labels: none

fix: fixing pr workflow
  .github/workflows/pr-open.yml
Labels: none

fix: changing to flyway and fixing script
  .github/openshift/deploy.backend.yml
Labels: none

fix(sec): fixing trivy related issues
  backend/Dockerfile
Labels: docker

fix: adding baseline on migrate
  .github/openshift/deploy.backend.yml
Labels: none

fix: fixing pr close
  .github/workflows/pr-close.yml
Labels: none

fix: fixing param name
  .github/openshift/deploy.backend.yml
Labels: none

fix: fixing prod deployment environment
  .github/workflows/merge-main.yml
Labels: none

chore(deps): update node.js to 481a788
  docker-compose.yml
Labels: none

chore(deps): update postgres:12 docker digest to a3ab8b0
  docker-compose.yml
Labels: none

Replace Dependabot with Renovate
  .github/dependabot.yml
Labels: github_actions

Replace Dependabot with Renovate (#139)
  .github/dependabot.yml
Labels: github_actions

chore(deps): update node.js to 481a788
  docker-compose.yml
Labels: none

Chore/dependabot cleanup (#140)
  backend/package-lock.json
  backend/package.json
  docker-compose.yml
Labels: dependencies

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to e331105
  backend/Dockerfile
Labels: docker

chore(deps): update node.js to a158d3b
  docker-compose.yml
Labels: none

chore(deps): update node.js to a158d3b (#141)
  docker-compose.yml
Labels: none

feat(be): - Missed change form version for BCeID form
  .github/openshift/deploy.backend.yml
Labels: none

feat(be): (#143)
  .github/openshift/deploy.backend.yml
Labels: none

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to e331105 (#142)
  backend/Dockerfile
Labels: docker

Updated readme file
  backend/README.md
Labels: none

Updated readme file (#144)
  backend/README.md
Labels: none

feat: adding health check
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/package-lock.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.service.ts
Labels: source

Improved code
  backend/src/app.service.ts
Labels: source

fix: fixing tests and dups
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/email/email.module.ts
  backend/src/email/services/email.service.ts
  backend/test/app.e2e-spec.ts
Labels: tests, source

fix: fixing tests and dups
  backend/src/ches/ches.module.ts
  backend/src/ches/services/ches.service.ts
Labels: source

chore: fixing code smell
  backend/src/ches/services/ches.service.ts
Labels: source

feat: adding health check (#145)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/package-lock.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/ches/ches.module.ts
  backend/src/ches/services/ches.service.ts
  backend/src/email/email.module.ts
  backend/src/email/services/email.service.ts
  backend/test/app.e2e-spec.ts
Labels: tests, source

feat: adding cron API checks
  .github/workflows/api-check.yml
  postman/OG.postman_collection.json
Labels: none

chore: fixing variables
  .github/workflows/api-check.yml
Labels: none

Test
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
Labels: none

chore: reverting changes
  .github/workflows/pr-open.yml
Labels: none

feat: health check cron check (#147)
  .github/workflows/api-check.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
  postman/OG.postman_collection.json
Labels: none

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to a714311
  backend/Dockerfile
Labels: docker
