Repository bcgov/nr-old-growth, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, dependencies, documentation, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/test/**/*

source:
  - backend/src/**/*

docker:
  - backend/Dockerfile

dependencies:
  - backend/package.json

documentation:
  - backend/docs/**/*
  - docs/**/*


openshift:
  - .github/openshift/.*.yml

chore(deps-dev): bump js-yaml from 3.14.1 to 3.14.2
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps-dev): bump js-yaml from 3.14.1 to 3.14.2 (#451)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): fixed CVE-2025-64756 vulnerability
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
Labels: none

no message
  backend/package-lock.json
Labels: none

no message
  backend/package.json
Labels: dependencies

fix(be): fixed CVE-2025-64756 vulnerability (#452)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Fixed issues
  backend/package-lock.json
Labels: none

chore(sec): preventing Shai-Hulud
  backend/Dockerfile
Labels: docker

chore(sec): preventing Shai-Hulud (#462)
  backend/Dockerfile
Labels: docker

chore(ci): npm ci --ignore-scripts
  docker-compose.yml
Labels: none

chore(ci): npm ci --ignore-scripts (#463)
  docker-compose.yml
Labels: none

no message
  backend/package-lock.json
Labels: none

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix: fixed CVE-2024-51999 vulnerability
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix: fixed CVE-2024-51999 vulnerability (#467)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
Labels: none

no message
  backend/package-lock.json
Labels: none

chore(ci): pin pr description action to v2.0.1
  .github/workflows/pr-open.yml
Labels: none

no message
  .github/workflows/pr-open.yml
Labels: none

no message
  .github/workflows/pr-open.yml
Labels: none

chore(ci): pin pr description action to v2.0.1 (#470)
  .github/workflows/pr-open.yml
Labels: none

chore(be): upgrade types/node 25.0.0
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgrade types/node 25.0.0 (#471)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(fe): Fixed qs security issue
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(fe): Fixed qs security issue (#475)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(ci): bump js tester action
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

chore(ci): bump js tester action (#476)
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): Fixed lodash vulnerability
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): Fixed lodash vulnerability (#478)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(ci): update trivy scanner flag from config to misconfig
  .github/workflows/unit-tests.yml
Labels: none

chore(ci): update trivy scanner flag from config to misconfig (#479)
  .github/workflows/unit-tests.yml
Labels: none
