Repository bcgov/nr-old-growth, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, dependencies, documentation, openshift

fix(deploy): bump deployer to stop logging rendered templates
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

fix(deploy): bump deployer to stop logging rendered templates (#568)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

feat: group deployments into Application via part-of label (#560)
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

feat: group deployments into Application via part-of label (#560) (#569)
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

fix(deps): upgrade multer to >=2.4.0 to patch DoS vulnerability
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): upgrade multer to >=2.4.0 to patch DoS vulnerability (#570)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): upgrade fast-uri to ^4.1.5 to patch CVE-2026-86472
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): upgrade fast-uri to ^4.1.5 to patch CVE-2026-86472 (#571)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): upgrade brace-expansion to ^5.0.11 to patch CVE-2026-102278
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): upgrade js-yaml to ^5.4.1 to patch GHSA-r3ph-w7gj-g6xm
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): upgrade brace-expansion to ^5.0.11 to patch CVE-2026-102278 (#572)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): upgrade js-yaml to ^5.4.1 to patch GHSA-r3ph-w7gj-g6xm (#573)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

test(backend): add service unit tests and run e2e under ESM jest
  backend/package-lock.json
  backend/package.json
  backend/src/ches/services/ches.service.spec.ts
  backend/src/email/services/email.service.spec.ts
  backend/src/form/services/form.service.spec.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
Labels: tests, source, dependencies

ci: add results jobs and make backend tests blocking
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
Labels: none

docs: report vulnerabilities privately in SECURITY.md
  SECURITY.md
Labels: none

fix(openshift): add restricted container security contexts
  .github/openshift/deploy.backend.yml
  .github/openshift/deploy.database.yml
Labels: none

ci: pin newman-action to v2.0.0 by SHA
  .github/workflows/api-check.yml
Labels: none

ci: use trust auth for the e2e postgres service
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/test/**/*

source:
  - backend/src/**/*

docker:
  - backend/Dockerfile

dependencies:
  - backend/package.json

documentation:
  - backend/docs/**/*
  - docs/**/*


openshift:
  - .github/openshift/.*.yml
