Repository bcgov/nr-old-growth, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, dependencies, documentation, openshift

chore(be): upgrade brace-expansion transitive dependencies
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgrade brace-expansion transitive dependencies (#524)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Improved code
  backend/src/form/services/form.service.ts
Labels: source

Avoid regex for full email validation
  backend/src/form/services/form.service.ts
Labels: source

Improved code
  backend/src/main.ts
Labels: source

chore(be): fix baseUrl deprecation
  backend/tsconfig.build.json
  backend/tsconfig.json
Labels: none

chore(be): fix baseUrl deprecation (#527)
  backend/tsconfig.build.json
  backend/tsconfig.json
Labels: none

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  .github/openshift/deploy.database.yml
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgrade @nestjs/platform-express to 11.1.27
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgrade @nestjs/platform-express to 11.1.27 (#534)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(ci): fixed JS scanning alert #75
  .github/workflows/merge-main.yml
Labels: none

fix(ci): fixed JS scanning alert #75 (#548)
  .github/workflows/merge-main.yml
Labels: none

fix(deps): resolve high severity npm audit vulnerabilities
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): resolve high severity npm audit vulnerabilities (#551)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): Upgraded typescript libs
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): Upgraded typescript libs (#554)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded nest-js libs
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded nest-js libs (#555)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded axios
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded axios (#557)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
Labels: none

no message
  backend/Dockerfile
Labels: docker

no message
  .github/workflows/unit-tests.yml
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
Labels: none

fix(deps): upgrade fast-uri to ^4.1.3 to patch CVE-2026-75899
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): upgrade fast-uri to ^4.1.3 to patch CVE-2026-75899 (#561)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): upgrade multer to >=2.3.0 to patch DoS vulnerabilities
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): upgrade multer to >=2.3.0 to patch DoS vulnerabilities (#562)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): update backend npm dependencies
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): update backend npm dependencies (#564)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/test/**/*

source:
  - backend/src/**/*

docker:
  - backend/Dockerfile

dependencies:
  - backend/package.json

documentation:
  - backend/docs/**/*
  - docs/**/*


openshift:
  - .github/openshift/.*.yml
