Repository bcgov/nr-old-growth, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, dependencies, documentation, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/test/**/*

source:
  - backend/src/**/*

docker:
  - backend/Dockerfile

dependencies:
  - backend/package.json

documentation:
  - backend/docs/**/*
  - docs/**/*


openshift:
  - .github/openshift/.*.yml

chore: Fixed GitHub Actions Workflow
  .github/workflows/pr-open.yml
Labels: none

chore: Fixed GitHub Actions Workflow (#356)
  .github/workflows/pr-open.yml
Labels: none

chore(be): upgraded multiple dependencies
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded nestjs libraries
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded nestjs libraries (#362)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Update pr-open.yml
  .github/workflows/pr-open.yml
Labels: none

chore(ci): drop pins from actions, github orgs
  .github/workflows/api-check.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
Labels: none

chore(ci): drop pins from actions, github orgs (#378)
  .github/workflows/api-check.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
Labels: none

chore(deps): dropped pin bcoe/conventional-release-labels action
  .github/workflows/pr-open.yml
Labels: none

chore(deps): dropped pin bcoe/conventional-release-labels action (#380)
  .github/workflows/pr-open.yml
Labels: none

Update pr-open.yml
  .github/workflows/pr-open.yml
Labels: none

chore(be): upgraded typenorm
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded nestjs
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded nestjs (#384)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded typenorm (#385)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): Upgraded Axios
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): Upgraded Axios (#388)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded typescript-eslint to 8.34.0
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded typescript-eslint to 8.34.0 (#389)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded eslint libs
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded eslint libs (#390)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded eslint to 9.29.0
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded eslint to 9.29.0 (#391)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded @types
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded @types (#392)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded jest
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded jest (#393)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(ci): drop pins for Docker
  backend/Dockerfile
  docker-compose.yml
Labels: docker

chore(ci): drop pins for Docker (#395)
  backend/Dockerfile
  docker-compose.yml
Labels: docker

chore(be): upgraded types libs
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded axios to 1.10.0
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded bordy-parser-2.2.0
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded pg to 0.16.0
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded supertest to 7.1.1
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded typescript tp 5.8.3
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded axios to 1.10.0 (#396)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded types libs (#397)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore: update dependencies in package-lock.json
  backend/package-lock.json
Labels: none

chore(be): upgraded bordy-parser-2.2.0 (#398)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded pg to 0.16.0 (#399)
  backend/package-lock.json
  backend/package.json
Labels: dependencies
