Repository bcgov/nr-old-growth, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, dependencies, documentation, openshift

fix(deps): update dependency swagger-ui-express to v5 (#164)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): update linters (#163)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): update node.js to 32ec50b
  docker-compose.yml
Labels: none

chore(deps): update node.js to 32ec50b (#165)
  docker-compose.yml
Labels: none

chore(deps): update node.js to 64b7183
  docker-compose.yml
Labels: none

chore(deps): update node.js to 64b7183 (#166)
  docker-compose.yml
Labels: none

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to b6616b2
  backend/Dockerfile
Labels: docker

chore(deps): update dependency typescript to v5
  backend/package.json
Labels: dependencies

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to b6616b2 (#167)
  backend/Dockerfile
Labels: docker

Updated package-lock
  backend/package-lock.json
Labels: none

Locked TypeScript to the version required by @nestjs/schematics
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): update dependency typescript to v5 (#168)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): update node.js to 525d7cc
  docker-compose.yml
Labels: none

chore(deps): update dependency typescript to v5
  backend/package.json
Labels: dependencies

chore(deps): update node.js to 525d7cc (#170)
  docker-compose.yml
Labels: none

Updated Paulo's email and improved log
  backend/src/form/services/form.service.ts
Labels: source

Updated Paulo's email and improved log (#171)
  backend/src/form/services/form.service.ts
Labels: source

Upgraded @nestjs/schematics version
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix: Changed to primitive 'number'
  backend/src/form/services/form.service.ts
Labels: source

chore(deps): update dependency typescript to v5 (#169)
  backend/package-lock.json
  backend/package.json
  backend/src/form/services/form.service.ts
Labels: source, dependencies

chore(deps): update node.js to 191b360
  docker-compose.yml
Labels: none

chore(deps): update node.js to 191b360 (#172)
  docker-compose.yml
Labels: none

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to 269e975
  backend/Dockerfile
Labels: docker

chore(deps): update postgres:12 docker digest to 81ab067
  docker-compose.yml
Labels: none

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to 269e975 (#174)
  backend/Dockerfile
Labels: docker

chore(deps): update postgres:12 docker digest to 81ab067 (#173)
  docker-compose.yml
Labels: none

chore(deps): update dependency eslint-config-prettier to v9
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): update nest monorepo to v10
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): update dependency eslint-config-prettier to v9 (#175)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(deps): update nest monorepo to v10 (#176)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): update postgres:12 docker digest to 6b57c26
  docker-compose.yml
Labels: none

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to 3a865d8
  backend/Dockerfile
Labels: docker

chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to 3a865d8 (#178)
  backend/Dockerfile
Labels: docker

chore(deps): update postgres:12 docker digest to 6b57c26 (#177)
  docker-compose.yml
Labels: none

ci: update renovate config
  renovate.json
Labels: none

ci: update renovate config (#180)
  renovate.json
Labels: none

Update sonar param
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

Node version now required for tester
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

fix: updating api check workflow
  .github/workflows/api-check.yml
Labels: none

fix: updating api check workflow (#186)
  .github/workflows/api-check.yml
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/test/**/*

source:
  - backend/src/**/*

docker:
  - backend/Dockerfile

dependencies:
  - backend/package.json

documentation:
  - backend/docs/**/*
  - docs/**/*


openshift:
  - .github/openshift/.*.yml
