Repository bcgov/nr-old-growth, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, dependencies, documentation, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/test/**/*

source:
  - backend/src/**/*

docker:
  - backend/Dockerfile

dependencies:
  - backend/package.json

documentation:
  - backend/docs/**/*
  - docs/**/*


openshift:
  - .github/openshift/.*.yml

feat: Upgraded Axios
  backend/package-lock.json
  backend/package.json
Labels: dependencies

feat: Upgraded Axios (#187)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

feat: Improved logs
  backend/src/form/entities/emailSubmissionLog.interface.ts
  backend/src/form/services/form.service.ts
Labels: source

no message
  backend/src/form/entities/emailSubmissionLog.interface.ts
Labels: source

feat: Improved logs (#188)
  backend/src/form/entities/emailSubmissionLog.interface.ts
  backend/src/form/services/form.service.ts
Labels: source

no message
  backend/src/form/entities/emailSubmissionLog.interface.ts
  backend/src/form/services/form.service.ts
Labels: source

Reverted change
  backend/src/form/services/form.service.ts
Labels: source

feat(be): Log improvement (#190)
  backend/src/form/services/form.service.ts
Labels: source

fix: updating cove coverage report
  .github/workflows/unit-tests.yml
  .vscode/settings.json
Labels: none

chore: updating unit tests
  .github/workflows/unit-tests.yml
Labels: none

fix: fixing coverage report
  .github/workflows/unit-tests.yml
Labels: none

fix: removing report from main and changed token
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

fix: updating cove coverage report (#197)
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  .vscode/settings.json
Labels: none

fix: backend/package.json & backend/package-lock.json to reduce vulnerabilities
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix: backend/package.json & backend/package-lock.json to reduce vulnerabilities (#213)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

deps: @babel/traverse vulnerability
  backend/package-lock.json
  backend/package.json
Labels: dependencies

deps: semver vulnerability
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Handle @babel/traverse w/o override
  backend/package-lock.json
  backend/package.json
Labels: dependencies

deps: vulnerability alert patches (#215)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Drop postgres sha from docker-compose
  docker-compose.yml
Labels: none

Replace RHEL UBI with node base image
  backend/Dockerfile
Labels: docker

Node in docker-compose
  docker-compose.yml
Labels: none

Startup user and command
  backend/Dockerfile
Labels: docker

Pull penetration tests out of merge workflow
  .github/workflows/merge-main.yml
Labels: none

chore(ci): drop RHEL UBI and Docker Compose SHAs (#230)
  backend/Dockerfile
  docker-compose.yml
Labels: docker

Run ZAP penetration tests in scheduled.yml
  .github/workflows/scheduled.yml
Labels: none

Allow unit-tests.yml to be interrupted by draft status
  .github/workflows/unit-tests.yml
Labels: none

Test
  .github/workflows/pr-open.yml
  .github/workflows/scheduled.yml
Labels: none

Restore workflows
  .github/workflows/pr-open.yml
  .github/workflows/scheduled.yml
Labels: none

Fix: ZAP scheduled job (#231)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/scheduled.yml
  .github/workflows/unit-tests.yml
Labels: none

Updated package-lock.json
  backend/package-lock.json
Labels: none

chore(deps): Update follow-redirects to latest version
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(deps): Update follow-redirects to latest version (#234)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix: backend/package.json to reduce vulnerabilities
  backend/package.json
Labels: dependencies

chore: updating gitignore
  .gitignore
Labels: none

ci: updating unit test workflow
  .github/workflows/unit-tests.yml
Labels: none

fix: syncing package-lock.json
  backend/package-lock.json
Labels: none

[Snyk] Security upgrade @nestjs/platform-express from 10.3.3 to 10.3.6 (#236)
  .github/workflows/unit-tests.yml
  .gitignore
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix: backend/package.json to reduce vulnerabilities
  backend/package.json
Labels: dependencies

fix: sync package-lock file
  backend/package-lock.json
Labels: none
