Repository bcgov/nr-old-growth, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, dependencies, documentation, openshift

Any old change
  backend/Dockerfile
Labels: docker

Updated lock file
  backend/package-lock.json
Labels: none

fix(be): fixed CVE-2025-69873
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): fixed CVE-2025-69873 (#488)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgrade nestjs libraries
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgrade nestjs libraries (#492)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): fixed CVE-2026-26996 vulnerability
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): fixed CVE-2026-26996 vulnerability (#493)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Update Trivy action to version 0.35.0
  .github/workflows/unit-tests.yml
Labels: none

chore(be): upgraded @nestjs/platform-express to 11.1.16
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): upgraded @nestjs/platform-express to 11.1.16 (#498)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): fixed vulnerabilty affected by infinite loop
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(be): fixed vulnerabilty affected by infinite loop (#499)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore(ci): pare down codeowners
  .github/CODEOWNERS
Labels: github_actions

chore(ci): pare down codeowners (#501)
  .github/CODEOWNERS
Labels: github_actions

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): fixed CWE-1321 vulnerability
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): fixed CWE-1321 vulnerability (#505)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

Merge branch 'renovate/lock-file-maintenance' of https://github.com/bcgov/nr-old-growth into renovate/lock-file-maintenance
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fixe(be): fix CVE-2026-2950 vulnerability
  backend/package-lock.json
  backend/package.json
Labels: dependencies

fix(be): fix CVE-2026-2950 vulnerability (#508)
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore: update readme
  backend/README.md
Labels: none

chore: package update
  backend/package.json
Labels: dependencies

chore: package update
  backend/package.json
Labels: dependencies

chore(deps): update @nestjs/common, @nestjs/core, and @nestjs/platform-express to v11.1.18
  backend/package-lock.json
  backend/package.json
Labels: dependencies

chore: Potential fix for pull request finding
  backend/package.json
Labels: dependencies

chore(deps): update @nestjs/common, @nestjs/core, and @nestjs/platform-express to v11.1.19
  backend/package.json
Labels: dependencies

chore(deps): update @nestjs/common, @nestjs/core, and @nestjs/platform-express to v11.1.19; bump path-to-regexp to v8.4.2
  backend/package-lock.json
Labels: none

chore: add condition for reporting code coverage on pull requests
  .github/workflows/unit-tests.yml
Labels: none

Addressed GHSA-w5hq-g745-h8pq vulnerability
  backend/package-lock.json
  backend/package.json
Labels: dependencies

no message
  backend/tsconfig.json
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/test/**/*

source:
  - backend/src/**/*

docker:
  - backend/Dockerfile

dependencies:
  - backend/package.json

documentation:
  - backend/docs/**/*
  - docs/**/*


openshift:
  - .github/openshift/.*.yml
