Repository bcgov/nr-old-growth, pull requests merged in 2023-07, with the labels that each got.

#157 chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to 8fea239
  backend/Dockerfile
Labels: docker, ignore-for-release

#160 fix: Suggested fix to support upgrade
  backend/package-lock.json
  backend/src/ches/services/ches.service.ts
  backend/src/form/services/form.service.ts
Labels: source, fix

#161 Fix: Upgrade fixes
  backend/package-lock.json
  backend/package.json
Labels: dependencies

#162 Fix: upgrade fixes
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/ches/services/ches.service.ts
  backend/src/form/services/form.service.ts
Labels: source, dependencies

#164 fix(deps): update dependency swagger-ui-express to v5
  backend/package-lock.json
  backend/package.json
Labels: dependencies, fix

#163 chore(deps): update linters (major)
  backend/package-lock.json
  backend/package.json
Labels: dependencies, ignore-for-release

#165 chore(deps): update node.js to 32ec50b
  docker-compose.yml
Labels: ignore-for-release

#166 chore(deps): update node.js to 64b7183
  docker-compose.yml
Labels: ignore-for-release
