Repository bcgov/nr-old-growth, pull requests merged in 2023-03, with the labels that each got.

#137 chore(deps): update postgres:12 docker digest to a3ab8b0
  docker-compose.yml
Labels: ignore-for-release

#139 Replace Dependabot with Renovate
  .github/dependabot.yml
Labels: github_actions

#140 Chore/dependabot cleanup
  backend/package-lock.json
  backend/package.json
  docker-compose.yml
Labels: dependencies
