Repository bcgov/nr-old-growth, pull requests merged in 2023-06, with the labels that each got.

#149 chore: updating codeowners
  .github/CODEOWNERS
Labels: github_actions, ignore-for-release

#148 chore(deps): update registry.access.redhat.com/ubi8/ubi docker digest to a714311
  .github/CODEOWNERS
  backend/Dockerfile
Labels: github_actions, docker, ignore-for-release

#152 fix(deps): update dependency rimraf to v5
  backend/package-lock.json
  backend/package.json
Labels: dependencies, fix

#155 chore(deps): update node.js to v20
  docker-compose.yml
Labels: ignore-for-release

#151 fix(deps): update dependency axios-oauth-client to v2
  backend/package-lock.json
  backend/package.json
Labels: dependencies, fix

#150 chore(deps): update dependency typescript to v5
  backend/package.json
Labels: dependencies, ignore-for-release
