Repository bcgov/nr-old-growth, pull requests merged in 2024-05, with the labels that each got.

#246 chore: Upgrade @nestjs/testing from 10.3.7 to 10.3.8
  backend/package-lock.json
  backend/package.json
Labels: ignore-for-release

#247 chore: Upgrade @typescript-eslint/eslint-plugin from 7.7.0 to 7.7.1
  backend/package-lock.json
  backend/package.json
Labels: ignore-for-release

#249 feat(be:FSADT1-1338): Changed form with new district email
  .github/openshift/deploy.backend.yml
Labels: feature

#252 fix(FSADT1-1341): updated district DOS email
  .github/openshift/deploy.backend.yml
Labels: fix
