Repository bcgov/nr-old-growth, pull requests merged in 2024-11, with the labels that each got.

#303 chore(be): Upgraded critical libs
  backend/package-lock.json
  backend/package.json
Labels: ignore-for-release

#305 chore(be): upgraded all critical libraries
  backend/package-lock.json
  backend/package.json
Labels: ignore-for-release

#314 ci: revise codeowners
  .github/CODEOWNERS
Labels: ci

#316 chore(deps): nestjs
  backend/package-lock.json
  backend/package.json
Labels: dependencies, ignore-for-release

#317 chore(deps): typescript
  backend/package-lock.json
  backend/package.json
Labels: ignore-for-release

#318 chore(deps): dev only
  backend/package-lock.json
  backend/package.json
Labels: ignore-for-release

#320 chore(deps): axios, body-parser, typeorm
  backend/package-lock.json
  backend/package.json
Labels: ignore-for-release

#319 fix(deps): remove unused
  backend/package-lock.json
  backend/package.json
Labels: fix
